*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

div {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

button {
    padding: 1rem 1rem;
    background-color: aquamarine;
    font-size: 15px;
    font-weight: bold;
    color: blue;
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(70, 224, 173);
}